/*Styling for all pages*/
h1, h2, h3, span {
	font-family: 'Press Start 2P', cursive;
}
header {
	background-image: url(../images/grass.png);
	color: white;
}
.title {
	font-family: 'Press Start 2P', cursive;
	text-shadow: 3px 3px 0 black;
}
ul {
	list-style-image: url(../images/heart-small.png);
}
body {
	max-width: 960px;
}
.body {
	height: 550px;
	background-image: url(../images/water.png);
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
.row {
	max-width: 960px;
}
p {
	margin-bottom: 12px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: black;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: yellow;
}
/*Styling for header*/
header {
	background-color: #fff;
}
ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding-top: 15px;
}
li a{
	text-decoration: none;
	padding: 8px 0 8px 16px;
	padding-bottom: 20px;
	padding-top: 20px;
	/*font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;*/
	color: white;
}
li {
	display: inline;
}
/*Styling for left section*/
.left {
	background-color: rgb(210,200,100);
	float: left;
	margin: 0 1.5%;
	width: 50%;
	display: inline-block;
	margin-top: 30px;
	margin-left: 90px;
	padding: 10px;
	box-shadow: 5px 5px 0 black;
}
.left h2 {
	margin-bottom: 20px;
	margin-left: 10px;
	border-bottom: 2px solid black;
	padding: 10px;
	color: white;
	font-family: 'Press Start 2P', cursive; 
	font-size: 1.5em;
}
.profilePic{
	float: left;
	margin: 15px;
	width: 150px;
	height: auto;
	box-shadow: 5px 5px 0 black;
}
/*Styling for right section*/
.right {
	background-color: rgb(210,200,100);
	float: right;
	margin: 0 1.5%;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 90px;
	width: 25%;
	display: inline-block;
	padding: 20px;
	text-align: center;
	box-shadow: 5px 5px 0 black;
}
.right h3 {
	padding: 10px;
	font-size: 1.25em;
	color: white;
	border-bottom: 2px solid black;
	text-align: left;
}
.right img {
	margin-top: 10px;
	width: 50px;
	height: auto;
}
/*Styling for footer*/
footer {
	background-image: url(../images/brickwall.png);
	background-size: 50px 36px;
	padding: 20px;
	text-align: center;
	font-size: .75em;
	color: yellow;
	font-size: 1em;
	clear: both;
	max-width: 960px;
}
.bottom {
	color: yellow;
	text-shadow: 3px 3px 0 black;
	font-family: 'Press Start 2P', cursive;
}
/*Styling for About Me section*/
.left p {
	text-align: justify;
	text-justify: inter-word;
	padding-left: 10px;
	padding-right: 10px;
}
/*Styling for Contact page*/
.contactBody {
		height: 600px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
input {
	margin-top: 10px;
	margin-bottom: 10px;
}
.formField {
	margin-left: 20px;
}
.font {
	font-family: 'Press Start 2P', cursive;
	padding-top: 10px;
}
.text {
	width: 95%;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	font-family: 'Press Start 2P', cursive;
	box-shadow: 5px 5px 0 black;
}
textarea {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	width: 95%;
	padding-right: 10px;
	padding-bottom: 70px;
	padding-left: 10px;
	padding-top: 10px;
	box-sizing: border-box;
	box-shadow: 5px 5px 0 black;
}
input[type=submit] {
	background-color: red;
	padding: 10px 20px;
	display: inline-block;
	font-family: 'Press Start 2P', cursive;
	font-size: 1em;
	color: #fff;
	border: none;
	box-shadow: 5px 5px 0 black;
}
input[type=submit]:hover {
	 box-shadow: none;
  position: relative;
  top: 2px;
  left: 2px;	
}
/*Styling for Portfolio page*/
.portfolioBody {
	height: 660px;
	background-image: url(../images/water.png);
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
.thumbnail {
	width: 200px;
	height: 150px;
	margin: 10px;
}
.caption {
	width: 190px;
	height: 140px;
	float: left;
	margin: 10px;
}
.caption figcaption {
	position: relative;
	display: inline-block;
	top: -40px;
	left: 15px;
	color: black;
	text-align: center;
	background-color: yellow;
	padding: 5px;
	width: 190px;
	font-family: 'Press Start 2P', cursive;
	font-size: .5em;
}
@media only screen and (max-width: 980px) {
/*980 styling for all pages*/
	body {
		max-width: 980px;
	}
	.body {
		height: 890px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}		
	.top {
		width: 50%;
	}
	header h1 {
		float: left;
		display: inline-block;
		margin: 0 0 0 35px;
		font-size: 2em;
		padding: 10px;
		text-align: center;
		width: 60%;
	}
	h3 {
		text-align: left;
	}
	.left {
		width: 50%;
		float: left;
		margin: 20px 20px 20px 50px;
	}
	.right {
		float: right;
		width: 30%;
		margin: 20px 50px 20px 20px;
	}
	.profilePic {
		float: none;
		width: 90%;
		height: auto;
		margin-top: 0;
		margin-bottom: 10px;
	}
	img {
		float: left;
		margin-right: 10px;
	}
/*980 styling for Contact*/
	.contact {
		width: 50%;
		margin-right: 0;
	}
	.contactBody {
		height: 580px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
/*980 styling for Portfolio*/
	.portfolioBody {
		height: 1540px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
	.thumbnail {
		width: 90%;
		height: auto;
	}
	.caption {
		width: 90%;
		height: auto;
		float: left;
		font-size: .75em;
	}
	.caption figcaption {
		position: relative;
		display: inline-block;
		top: -60px;
		left: 15px;
		color: white;
		font-size: 1.5em;
		text-align: center;
		background-color: red;
		padding: 5px;
		width: 87%;
	}
}
@media only screen and (max-width: 768px) {
/*768 styling for all pages*/
	body {
		max-width: 768px;
	}
	.body {
		height: 640px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
		}
	.top {
		width: 50%;
	}
	.title {
		text-align: left;
	}
	header h1 {
		float: left;
		display: inline-block;
		margin: 0 0 0 5px;
		font-size: 2em;
		padding: 10px;
		text-align: center;
	}
	h3 {
		text-align: left;
	}
	.left {
		width: 95%;
		float: none;
		margin: 20px;
	}
	.right {
		float: none;
		width: 95%;
		margin: 0 0 0 20px;
	}
	.profilePic {
		float: left;
		width: 35%;
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
	img {
		float: left;
		margin-right: 10px;
	}
/*768 styling for Contact*/
	.contact {
		width: 95%;
		margin-right: 0;
	}
	.contactBody {
		height: 770px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
/*768 styling for Portfolio*/
	.portfolioBody {
		height: 1170px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
	.thumbnail {
		width: 90%;
		height: auto;
	}
	.caption {
		width: 45%;
		height: auto;
		float: left;
		font-size: .75em;
	}
	.caption figcaption {
		position: relative;
		display: inline-block;
		top: -60px;
		left: 15px;
		color: white;
		font-size: 1.5em;
		text-align: center;
		background-color: red;
		padding: 5px;
		width: 87%;
	}
}
@media only screen and (max-width: 640px) {
/*640 styling for all pages*/
	body {
		max-width: 640px;
	}
	.body {
		height: 1210px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
	.top {
		width: 100%;
		padding: 0;
	}
	.title {
		text-align: center;
	}
	header h1 {
		float: none;
		display: inline-block;
		margin: 0;
		font-size: 2em;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
	}
	ul {
		float: none;
		padding-bottom: 10px;
		text-align: center;
	}
	.li h2 {
		float: none;
		margin: auto;
	}
	.profilePic {
		float: none;
		margin: auto;
		margin-bottom: 10px;
		width: 95%;
		height: auto;
	}
	.left {
		margin: 20px 20px 10px 20px;
	}		
	.right {
		margin: 10px 20px 20px 20px;
	}
	.right h3 {
		text-align: left;
	}
/*640 styling for Contact*/
	.contactBody {
		height: 770px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
	.contact {
		width: 95%;
		margin-right: 0;
	}
/*640 styling for Portfolio*/
	.portfolioBody {
		height: 2530px;
		background-image: url(../images/water.png);
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}
	.thumbnail {
		width: 95%;
		height: auto;
		margin: 10px;
	}
	.caption {
		width: 95%;
		height: auto;
		float: none;
		margin: 10px;
	}
	.caption figcaption {
		position: relative;
		display: inline-block;
		top: -60px;
		left: 15px;
		color: white;
		font-size: 1.5em;
		text-align: center;
		background-color: red;
		padding: 5px;
		width: 93.3%;
	}
}

